<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Locally stored reservation data</h1>
    <span> Dear client, your resquested reservations: <span> <br/> <br/>

    <%	@data.each do |index,reservation| %>
	    <div>
			<h4> Reservation with ID <%=reservation["id"]%></h4> 
			<span> This email can be used as a confirmation of your reservation. </span>
			<div style='width:100%;float:left;display:inline;'> 
				<strong> User ID: </strong><%=reservation["user_id"]%>
			</div>
			<div style='width:100%;float:left;display:inline;'> 
			   <strong> Time slot: </strong><%=reservation["time_slot"]%>
			</div>
			<div style='width:100%;float:left;display:inline;'> 
			   <strong> Date: </strong><%=reservation["date"]%>
			</div>
			<div style='width:100%;float:left;display:inline;'> 
			   <strong> Restaurant Name: </strong><%=reservation["restaurant_name"]%>
			</div>
			<div style='width:100%;float:left;display:inline;'> 
			   <strong> Menu: </strong><%=reservation["name"]%>
			</div>
			<div style='width:100%;float:left;display:inline;'> 
			   <strong> Price Paid: </strong><%=reservation["price"]%>
			</div>
	     </div> 
		<br/><br/>
    <%end%>
  </body>
</html>
