<h1>Listing Menu items</h1>

<table>
  <tr>
    <th>Restaurant</th>
    <th>Meal</th>
    <th>Date</th>
    <th>Max reservations</th>
    <th>Current reservations</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_items.each do |menu_item| %>
  <tr>
    <td><%= @include_restaurants ? menu_item.restaurant.name : @restaurant.name %></td>
    <td><%= menu_item.meal.name %></td>
    <td><%= menu_item.date %></td>
    <td><%= menu_item.max_reservations %></td>
    <td><%= menu_item.cur_reservations %></td>
    <td><%= link_to 'Show', menu_item %></td>
    <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
    <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu item', new_menu_item_path %>
