<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @user.telephone %>
</p>

<%= link_to 'Index', users_path %>
