<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @user.telephone %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>

<p>
  <b>Auth token:</b>
  <%= @user.authentication_token %>
</p>

<% if @self %>
  <div>
    <%= link_to 'Edit Account', edit_user_registration_path %>

    <%= link_to 'Change Password', edit_user_password_path %>

    <%= link_to 'Cancel account', user_registration_path, confirm: 'Are you sure?', method: :delete %>
  </div>
<% end %>

<%= link_to 'Index', users_path %>
