<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_item_id %><br />
    <%= f.collection_select(:menu_item_id, @menu_items, :id, :collection_name, {:prompt => 'Select one'}) %>
  </div>
  <div class="field">
    <%= f.label :time_slot %><br />
    <%= f.select(:time_slot, @restaurants.first.opening_hours.split(' ')) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
