<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant:</b>
  <%= link_to @reservation.restaurant.name, restaurant_path(@reservation.restaurant) %>
</p>

<p>
  <b>Date:</b>
  <%= link_to @reservation.menu_item.date, menu_item_path(@reservation.menu_item) %>
</p>

<p>
  <b>Time slot:</b>
  <%= @reservation.time_slot %>
</p>

<p>
  <b>Meal:</b>
  <%= link_to @reservation.meal.name, meal_path(@reservation.meal) %>
</p>

<p>
  <b>Price:</b>
  <%= @reservation.meal.price %>
</p>

<p>
  <b>Image:</b>
  <%= @reservation.meal.image %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Index', reservations_path %>
