<p id="notice"><%= notice %></p>

<%= image_tag @meal.image %>

<p>
  <b>Name:</b>
  <%= @meal.name %>
</p>

<p>
  <b>Price:</b>
  <%= @meal.price %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Index', meals_path %>
