<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Coordinates:</b>
  <%= @restaurant.coordinates %>
</p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
