<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>

  <title>À la carte</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1><%= link_to 'À la carte', root_path %></h1>
</header>

<div class='content'>
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
